.primary{
    color: rgb(20, 34, 95);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.intro-block{
    background-color: rgb(235, 235, 235);
}

.row{display: flex;
    flex-wrap: wrap;    
}

.intro-block .row{
    align-items: center;
}

.Lorraine{
    width: 20%;
}

.Lorraine img{
    width: 90%;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
}

.content{
    width: 80%;
}

.content p{
    margin-right: 2px;
}

.contact-me ul{
    list-style: none;
    padding: 0;
}

.contact-me ul li{
    display: inline;
    padding: 0 5px;
}



.work-experience-block{
    padding: 10px;
}

.secondary {
    color: #AAA;
    text-align: right;
}

.title {
    font-size: 24px;
}

.work-experience-block h3{
    padding-bottom: 10px;
    border-bottom: 2px solid #aaa;
}



.education-block{
    padding: 10px;
}

.educational-items{
    display: flex;
    align-items: center;
    width: 50%;
}

.education-block h3{
    padding-bottom: 10px;
    border-bottom: 2px solid #aaa;
}

.educational-items .logo{
    width: 20%;
}

.educational-items .logo img{
    width: 100%;
}

.educational-items ul li{
    list-style: none;
    padding: 5px 0;
}

.educational-items ul :nth-child(1){
    color: #aaa;
}

.educational-items ul :nth-child(2){
    font-weight: 700;
    font-size: 20px;
}

.educational-items ul :nth-child(3){
    color: rgb(20, 34, 95);
}



.other-block h3{
    padding: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #AAA;
}

.other-block{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    padding-right: 5px;
}

.language{
    padding-left: 5px;
}

.other-block>div{
    width: 50%;
}

.other-block>*{
    box-sizing: border-box;
}



@media screen and (max-width: 992px) {
    .Lorraine,
    .Lorraine>img{
        width: 100%;
    }

    .intro-block .content{
        width: 100%;
    }

    .intro-block>.row{
        flex-direction: column;
    }

    .Lorraine{
        max-width: 150px;
    }
}



@media screen and (max-width:768px){
    .educational-items{
        width: 100%;
    }
}