.primary{
    color: rgb(20, 34, 95);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{display: flex;
    flex-wrap: wrap;    
}

.intro-block .row{
    align-items: center;
}

.Lorraine{
    width: 20%;
}

.Lorraine img{
    width: 90%;
    border-radius: 50%;
    margin-right: 10px;
}

.content{
    width: 80%;
}

.contact-me ul{
    list-style: none;
    padding: 0;
}

.contact-me ul li{
    display: inline;
    padding: 0 5px;
}